.row{
    margin: 70px auto;
}
.sub-page-heading{
    margin-top: 40px;
}

.card{
    width: 200px;
}

.card-body{
    font-size: 1.5rem;
}

.product-img{
    width: 199px;
    height: 150px;
}

.img-thumbnail{
    width: 170px;
    height: 180px;
}


.card-text, .card-title{
    text-align: center;
}

.card-title{
    font-size: 1.2rem;
}

