.row{
    margin: 70px auto;
}

.card{
    width: 200px;
}

.product-img{
    width: 199px;
    height: 150px;
}

.link-name{
    margin: 0 auto;
}

.card-text, .card-title{
    text-align: center;
}

.card-title{
    font-size: 1.2rem;
}

